/*--------------------------------------------------------------
//                  BTN Change language                       //
--------------------------------------------------------------*/

.btn-change-language {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 2px 5px !important;
    border-radius: 50px;
    margin: 10px;
    color: #fff !important;
    border: 2px solid #06A3DA;
}

.btn-change-language :hover {
    background: #91daf5;
    color: #fff !important;
    text-decoration: none;
}

#rule-section .btn-get-started {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    background: #06A3DA;
    color: #fff;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    border: 2px solid #06A3DA;
}

#rule-section .btn-get-started:hover {
    background: #5bc3e9;
    color: #fff;
    text-decoration: none;
}


/*--------------------------------------------------------------
//                       Text Navbar                          //
--------------------------------------------------------------*/

.text-nav {
    color: #ffffff !important;
}

.text-nav:hover {
    color: #91daf5 !important;
}

.text-nav-scrolled {
    color: #ffffff !important;
}

.text-nav-scrolled:hover {
    color: #c2ecfb !important;
}

.navbar .active-page {
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid #06A3DA;
    background: #c2ecfb39;
}

.navbar .active-page:hover {
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid #91daf5;
    color: #023345 !important;
    background: #c2ecfb;
}


/*--------------------------------------------------------------
//                       Animate.css                          //
--------------------------------------------------------------*/

.animate__animated.animate__fadeInUp {
    --animate-duration: 1s;
}


/*--------------------------------------------------------------
//                            Menu                            //
--------------------------------------------------------------*/

.services .icon-box {
    width: 100%;
}

.priceImage {
    margin: 0px 0px !important;
    padding-top: 0px !important;
    text-align: center !important;
}

.priceImage .img-fluid {
    max-width: 95%;
    height: auto;
    text-align: center !important;
}


/*--------------------------------------------------------------
//                            Card                           //
--------------------------------------------------------------*/

.horizontal-scrollable>.row {
    overflow-x: auto !important;
    white-space: nowrap !important;
}

.horizontal-scrollable>.row>.box {
    display: inline-block !important;
    float: none !important;
}

#box-submain-rules {
    cursor: pointer;
}

#box-submain-services {
    cursor: pointer;
}

#box-submain-doctors {
    cursor: pointer;
}

#box-submain-about {
    cursor: pointer;
}